{% extends 'base.html' %}

{% block content%}

<h2>Upload file to analyze:</h2>
<div class="form-group">
    <form method=post enctype=multipart/form-data>
        <input class="form-control" type=file name=file oninput="parse_data(this)" required></br>
        <div id="columnButtons"></div></br>
        <label for="column">Column name:</label>
        <input class="form-control" type="text" id="column" name="column" placeholder="7_2009" required></br>
        <label for="alpha">Alpha(0-1):</label>
        <input class="form-control" type="number" step="0.01" min="0.01" max="1.00" id="alpha" name="alpha" value="0.01" required></br>
        <input class="btn btn-primary" type=submit value=Analyze>
    </form>
</div>


{% if context_data %}
    <div class="container">
        <h2>Results from {{ context_data.amount }} value points:</h2>
        <img alt='char' src='data:image/png;base64,{{ context_data.data }}'/>
    </div>
{% endif %}

<style>
    .btn {
        margin: 5px;
    }
</style>

<script>
function parse_data(input) {
    let file = input.files[0];

    let reader = new FileReader();

    reader.readAsText(file);
    reader.onload = function() {
      let headerRow = reader.result.split('\n')[0]
      if (headerRow.includes(',')) {
        headerRow = headerRow.split(',')
      } else {
        headerRow = headerRow.split('\t')
      }
      document.getElementById("columnButtons").innerHTML = ""
      document.getElementById("columnButtons").innerHTML += "<p>Chose column name from detected ones:</p>"
      for (let name of headerRow ) {
          document.getElementById("columnButtons").innerHTML +=
            "<button onclick='insertColumnName(this)' type='button' class='btn btn-secondary'>"+name+"</button>";
      }
    };

    reader.onerror = function() {
      console.log(reader.error);
    };
}

function insertColumnName(element) {
    document.getElementById("column").value = element.innerText;
}
</script>
{% endblock %}
